
@{
    ViewBag.Title = "TypeAsset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/wwwroot/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var hidden = false;
    function action() {
        hidden = !hidden;
        if (hidden) {
            document.getElementById('togglee').style.visibility = 'hidden';
        } else {
            document.getElementById('togglee').style.visibility = 'visible';
        }
    }
</script>
<head>

    <style>

        .title {
        }

        table, th, td {
            border: 1px solid black;
            font-size: 16px;
        }

        a.btn:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        a.btn {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }

        #modal-header {
            background-color: #009688
        }
    </style>
</head>

<main class="app-content">
    <div id="page_header" class="widget-box  ">
        
        <div class="tile">
            <div class="widget-header" style="border-radius:4px">
                <h3 class="widget-title">
                    <i class="ace-icon fa fa-star orange"></i>
                    @Rental_WebCore2.Resources.TypeAsset.TypeAsset.ListTypeAsset
                </h3>
            </div>
            <div class="">
                <div>
                    <select id="Type" name="Type" style="height: 32px;width:150px">
                        <option value="All">Tất Cả</option>
                        <option value="Types">Loại</option>
                        <option value="TV">TV</option>
                        <option value="Refri">Tủ Lạnh</option>
                        <option value="Washing">Máy Giặt</option>
                    </select>
                    <select id="ConstructionUnit" name="ConstructionUnit" style="height: 32px;width:150px">
                        <option id="Sort" value="">Sắp Xếp</option>
                        <option id="Owning" value="">Đang Sở Hữu</option>
                        <option id="Renting" value="">Đang Thuê</option>
                    </select>
                    <span><button type="button" class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target="#myModal" style="margin-left:60%"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.AddAsset</button></span>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="tile">
                                    <h3 class="tile-title"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.AddAsset</h3>
                                    <div class="tile-body">
                                        <form>
                                            <div class="form-group">
                                                <label class="control-label"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.TypeAsset1</label>
                                                <select id="Type" name="Type" style="height: 32px;width:150px">
                                                    <option value="TV">TV</option>
                                                    <option value="Refri">Tủ Lạnh</option>
                                                    <option value="Washing">Máy Giặt</option>
                                                    <option value="None">None</option>

                                                </select>
                                                <div class="form-group">
                                                    <label class="control-label">Tên Loại Tài Sản</label>
                                                    <input class="form-control" type="email" placeholder="TV, Refri,..">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tên Tài Sản</label>
                                                <input class="form-control" type="email" placeholder="Asset Name">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tình Trạng</label>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="gender">Good
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="gender">Not Good
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Số Lượng</label>
                                                <input class="form-control" type="text" placeholder="Number Of Asset"></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-date-input">Ngày Thêm</label>
                                                <input class="form-control" type="date" value="2011-09-28" id="example-date-input">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Mô Tả</label>
                                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thêm Hình Ảnh</label>
                                                <input class="form-control" type="file">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                                                    <label class="form-check-label" for="invalidCheck3">
                                                        Agree to terms and conditions
                                                    </label>
                                                    <div class="invalid-feedback">
                                                        You must agree before submitting.
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tile-footer">
                                        <button class="btn btn-primary" type="Submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile-body">
            <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="sampleTable_length"><label>Show <select name="sampleTable_length" aria-controls="sampleTable" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="sampleTable_filter" class="dataTables_filter"></div></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info" style="border-collapse:collapse;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.No</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 60px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.AssetID</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.AssetName</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Image</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 60px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Status</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 72px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.OwnerID</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.PropertyID</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 72px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.AddingDate</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 230px;"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="collapse" role="row" class="odd">
                                    <td class="sorting_1">1</td>
                                    <td>TV001</td>
                                    <td>TV Sony</td>
                                    <td>Accountant</td>
                                    <td>Good</td>
                                    <td>LL001</td>
                                    <td>2008/11/28</td>
                                    <td>2008/11/28</td>
                                    <td>
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        <div class="bs-component">
                                            <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#myAsignModal"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Asign</button>
                                            <div class="modal fade" id="myAsignModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="width:800px">
                                                        <div class="tile">
                                                            <h3 class="tile-title">Please Chose Your Property</h3>
                                                            <div class="tile-body">
                                                                <div>
                                                                    <select id="Type" name="Type" style="height: 32px;width:150px">
                                                                        <option value="All">All</option>
                                                                        <option value="Types">Project 1</option>
                                                                        <option value="Types">Project 2</option>
                                                                        <option value="Types">Project 3</option>
                                                                    </select>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>No.</th>
                                                                            <th>Project Name</th>
                                                                            <th>Adress</th>
                                                                            <th>Username</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Mark</td>
                                                                            <td>Otto</td>
                                                                            <td><div class="animated-checkbox"><label><input type="checkbox"><span class="label-text"> </span></label></div></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Jacob</td>
                                                                            <td>Thornton</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>Larry</td>
                                                                            <td>the Bird</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="tile-footer">
                                                                <button class="btn btn-secondary" type="button">Asign</button>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#myUpdateModal"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Update</button>
                                            <div class="modal fade" id="myUpdateModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="tile">
                                                            <h3 class="tile-title">Update Asset</h3>
                                                            <div class="tile-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Loại Tài Sản</label>
                                                                        <select id="Type" name="Type" style="height: 32px;width:150px">
                                                                            <option value="TV">TV</option>
                                                                            <option value="Refri">Tủ Lạnh</option>
                                                                            <option value="Washing">Máy Giặt</option>
                                                                            <option value="None">None</option>

                                                                        </select>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Tên Loại Tài Sản</label>
                                                                            <input class="form-control" type="email" placeholder="TV, Refri,..">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Tên Tài Sản</label>
                                                                        <input class="form-control" type="email" placeholder="Asset Name">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Tình Trạng</label>
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input class="form-check-input" type="radio" name="gender">Good
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input class="form-check-input" type="radio" name="gender">Not Good
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Số Lượng</label>
                                                                        <input class="form-control" type="text" placeholder="Number Of Asset"></input>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-date-input">Ngày Thêm</label>
                                                                        <input class="form-control" type="date" value="2011-09-28" id="example-date-input">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Mô Tả</label>
                                                                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Thêm Hình Ảnh</label>
                                                                        <input class="form-control" type="file">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                                                                            <label class="form-check-label" for="invalidCheck3">
                                                                                Agree to terms and conditions
                                                                            </label>
                                                                            <div class="invalid-feedback">
                                                                                You must agree before submitting.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tile-footer">
                                                                <button class="btn btn-warning" type="button">Update</button>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myDeleteModal"> @Rental_WebCore2.Resources.TypeAsset.TypeAsset.Delete</button>
                                            <div class="modal fade" id="myDeleteModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="tile">
                                                            <h3 class="tile-title">Delete Confirm</h3>
                                                            <div class="tile-body">
                                                                <form>

                                                                    <div class="form-group">
                                                                        <label class="control-label">Password</label>
                                                                        <input class="form-control" type="password" placeholder=""></input>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="form-check">
                                                                            <div class="invalid-feedback">
                                                                                You must iput your current password to delete this asset.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tile-footer">
                                                                <button class="btn btn-primary" type="button">Agree</button>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="sampleTable_previous"><a href="#" aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="sampleTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="sampleTable_next"><a href="#" aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
            </div>
        </div>
    </div>
</main>

