@{
    ViewData["Title"] = "ContractIndex";
}
@{
    string[] name = new string[12];
    int i = 0;
}

<head>
    <link href="~/wwwroot/CSS_Rental/css/main.css" rel="stylesheet" />
    <style type="text/css">
        a:hover, a:focus {
            text-decoration: none;
        }
    </style>
</head>

<body>

    <main class="app-content">
        <div class="page-item" style="height: 100%;">

            <!--PAGE CONTENT BEGINS HERE-->
            @* Chon du an *@

            <div class="form-group col-2" style="margin-left:-13px">
                <select class="form-control" id="exampleSelect1">
                    <option>TNN</option>
                    <option>An Lạc</option>
                    <option>Bình Minh</option>
                    <option>Thiên Đường</option>
                    <option>BBC</option>
                </select>
            </div>
            @* Tua de *@
            <div>
                <div class="alert alert-warning" style="background-color:#009688;">
                    <h5 style="margin-bottom:0px; text-align:center;color:aliceblue">
                        @Rental_WebCore2.Resources.Rental_Manager.Rental.Product_Contract_Management

                    </h5>
                </div>
            </div>
            @* Chia 2 cot *@
            <div class="row">
                @* Cot loc *@
                <div class="col-md-2">


                    @* Loc theo nha *@
                    <div class="tile">
                        <div class="widget-header">
                            @*<h5><i class="fa fa-home" ></i> Tên nhà</h5>*@
                            <b style="text-align:left;font-size:16px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Name_Property</b>
                        </div>
                        <hr style="width:153px;margin-left:-20px" />
                        <div class="widget-body">
                            <p>
                                <label>
                                    <input name="REHouseId" type="radio" checked="checked">
                                    <span> Viettel (6)</span>
                                </label>
                                <label>
                                    <input name="REHouseId" type="radio" checked="checked">
                                    <span> Vina-phone (4)</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    @* Loc theo trang thai *@
                    <div class="tile">
                        <div class="widget-header">
                            @*<h5 class="widget-title"><i class="fa fa-renren" ></i> Trạng thái</h5>*@
                            <b style="text-align:center;font-size:16px"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Status</b>
                        </div>
                        <hr style="width:153px;margin-left:-20px" />
                        <div class="widget-body">
                            <div class="widget-main">
                                <p>
                                    <label>
                                        <input name="Status" type="radio" checked="checked">
                                        <span class="lbl"> @Rental_WebCore2.Resources.Rental_Manager.Rental.All (50)</span>
                                    </label>

                                    <label>
                                        <input name="Status" type="radio">
                                        <span class="lbl"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Hired (37)</span>
                                    </label>

                                    <label>
                                        <input name="Status" type="radio">
                                        <span class="lbl"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Empty (13)</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                @* Cot du lieu *@
                <div class="col-md-10">
                    <div class="tile" style="height:693px">
                        <div class="row">
                            <input class="app-search__input" type="Search" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Search style="margin-left:17px;border:solid 1px;border-color:#009688" />
                            <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:10px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Search</a>

                        </div>
                        <br />
                        <div style=" height:555px; border:1px solid black; padding:20px; overflow:auto;border-color:darkgray">

                            <div class="top-10 clearfix">
                                <style>
                                    .btn-outline-primary {
                                        background-color: white;
                                        color: #009688;
                                        font-size: 10px;
                                        border: solid 1px;
                                        border-color: darkgray;
                                        height: 280px;
                                        text-align: left;
                                    }

                                    .dropbtn:hover, .dropbtn:focus {
                                        background-color: #009688;
                                    }

                                    .dropdown-menu {
                                        display: none;
                                        background-color: white;
                                        max-width: 10px;
                                        margin-left: 38px;
                                        border: solid 1px;
                                        border-color: darkgray;
                                        
                                    }

                                    .dropdown a:hover {
                                        background-color: #009688;
                                        color: white;
                                    }
                                </style>

                                <div class="row">
                                    <div class="tile">
                                        <div class="dropdown" id="HD">
                                            @for (var k = 0; k < 4; k++)
                                            {
                                                <div class="row">
                                                    @for (var j = 0; j < 3; j++)
                                                    {
                                                        <div class="col-lg-4">
                                                            @{name[i] = "Bất động sản " + (i + 1);
                                                                <a class="list-group-item list-group-item-action" id="dropdownMenuButton" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#009688">
                                                                    <img src="~/wwwroot/images/Rental/Contract/icons8-profile-48.png" style="width:30px;height:30px;margin-top:-15px;margin-left:0px" />
                                                                    <samp style="font-size:18px">P.123</samp>
                                                                    <hr style="background-color:#009688;margin-top:0px" />
                                                                    <div style="margin-top:-14px">
                                                                        <div class="row">
                                                                            @*<samp class="list-group-item-text" style="word-break:break-word"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.Property</b>: Vina-Tel/HN3/Tầng 12/dsds/dsd/sd/s/ds/ds/dsdsd/</samp>*@
                                                                            <samp class="list-group-item-text"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_ID</b>: KH000011125</samp>
                                                                            <samp class="list-group-item-text"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.Renter</b>: Đương Tam muội</samp>
                                                                            <samp class="list-group-item-text"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.From_date</b>: (23/1/2016)</samp>
                                                                            <samp class="list-group-item-text"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.To_Date</b>: (22/3/2019)</samp>
                                                                            @*<samp class="list-group-item-text"><b>@Rental_WebCore2.Resources.Rental_Manager.Rental.Status</b>: Đã thuê</samp>*@

                                                                        </div>
                                                                    </div>
                                                                </a>

                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top:-110px">
                                                                    <a class="dropdown-item" asp-area="" href="#"onclick="CreateContract(0)"><i style="">@Rental_WebCore2.Resources.Rental_Manager.Rental.Creat_Contract_1</i></a>
                                                                    <a class="dropdown-item" asp-area="" href="@Url.Action("DetailContract","RentalManager")"><i>@Rental_WebCore2.Resources.Rental_Manager.Rental.Detail_Contract</i></a>

                                                                </div>
                                                                i = i + 1;
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                                <br />
                                            }

                                        </div>
                                    </div>

                                </div>

                                <hr style="margin-top:0px" />
                                @* tạo qua trang *@
                                <ul class="pagination" style="margin-left:265px">
                                    <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--PAGE CONTENT ENDS HERE-->

    </main>
</body>


@* Tạo hợp đồng *@
<div class="modal fade" id="myModalCreateContract">
    <div class="modal-dialog"style="margin-left:5px">
        <div class="modal-content" style="width:1340px;height:auto;">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleCreateContract;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Creat_Contract_2
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">
                    <div class="col-12">
                        <div class="tile" style="margin-top:-17px">
                            <div class="row">
                                @* VT *@
                                <div class="col-md-5">
                                    <div class="tile">
                                        <h5 style="margin-top:-15px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_Infor_1</h5>
                                        <hr style="margin-top:-6px" />
                                        <div class="tile-body">
                                           
                                                <div class="tile" style="border:1px solid;border-color:darkgray;">
                                                    <table class="table table-bordered" border="1" style="border-color:black;">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_ID</th>
                                                                <th><input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_Creation_Date</th>
                                                                <th><input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Effective_Date</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.To_Date</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Property</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Price</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Deposit</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>

                                                    <div style="margin-top:0px">
                                                        <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                                                    </div>
                                                </div>

                                            
                                        </div>
                                    </div>
                                </div>
                                @*VP *@
                                @* Thong tin khach thue *@
                                <div class="col-md-7">
                                    <div class="tile">
                                        <h5 style="margin-top:-15px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Infor</h5>
                                        <hr style="margin-top:-6px" />
                                        <div class="tile-body">
                                           
                                                <table class="table table-bordered" border="1" style="border-color:black;">
                                                    <thead>
                                                        <tr>
                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Name</th>
                                                            <th><input class="text-body col-md-10 " type="text" value=""></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</th>
                                                            <th><input class="text-body col-md-10 " type="text" value=""></th>
                                                        </tr>
                                                        <tr>
                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Identity_Card</th>
                                                            <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                        </tr>
                                                        <tr>
                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Email</th>
                                                            <th> <input class="text-body col-md-10 " type="text" value=""></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>
                                                <div style="margin-top:0px">
                                                    <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                                                </div>

                                            

                                        </div>
                                    </div>
                                    @* Dich vu *@
                                    <div class="tile">
                                        <h5 style="margin-top:-15px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Register_Service</h5>
                                       
                                        <hr style="margin-top:-6px" />
                                        <div style="  height:281px; border:1px solid black; padding:20px; overflow:auto;border-color:darkgray">
                                            <table class="table table-bordered" style="margin-left:-5px">
                                                <thead>
                                                    <tr>
                                                        <th style="background-color:lavender"><input class="checkbox" type="checkbox" disabled="disabled" /></th>
                                                        <th class="col-md-2" style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Type_Of_Service</th>
                                                        <th style="text-align:center;width:15px;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit_Price</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input class="checkbox" type="checkbox" /></td>
                                                        <td>
                                                            <input class="text-body  " style="width:120px" type="text" value="Internet  ">
                                                        </td>
                                                        <td><input class="text-center " type="text" style="width:50px;margin-left:5px" value="1" /></td>
                                                        <td><input class="text-dark " style="width:80px" type="text" value="" /></td>
                                                        <td>
                                                            <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="checkbox" type="checkbox" /></td>
                                                        <td>
                                                            <input class="text-body " style="width:120px" type="text" value="Cáp  ">
                                                        </td>
                                                        <td><input class="text-center " type="text" style="width:50px;margin-left:5px" value="1" /></td>
                                                        <td><input class="text-dark " style="width:80px" type="text" value="" /></td>
                                                        <td>
                                                            <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="checkbox" type="checkbox" /></td>
                                                        <td>
                                                            <input class="text-body  " style="width:120px" type="text" value="Đổ rác  ">
                                                        </td>
                                                        <td><input class="text-center " style="width:50px;margin-left:5px" type="text" value="1" /></td>
                                                        <td><input class="text-dark " style="width:80px" type="text" value="" /></td>
                                                        <td>
                                                            <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </form>

                <div class="modal-body">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <button class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*  *@
<script>
    function CreateContract(CreateContract) {
        $("#form")[0].reset();
        $("#modalTitleCreateContract").html("Tạo hợp đồng");
        $("#myModalCreateContract").modal();
    }
</script>