
@{
    ViewBag.Title = "Depositinvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <main class="app-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="tile">
                    <h2>@Rental_WebCore2.Resources.RentalTexts.hoadontiencoc</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.mahopdong</td>
                                <td>HD2019000021</td>
                            </tr>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.tensanpham</td>
                                <td>Estella Heights - Nhà khách - P003</td>
                            </tr>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.tenkhachthue</td>
                                <td>Nguyễn Linh</td>
                            </tr>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.sotien</td>
                                <td>5.000.000</td>
                            </tr>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.dathanhtoan</td>
                                <td>5.000.000</td>
                            </tr>
                            <tr>
                                <td>@Rental_WebCore2.Resources.RentalTexts.conloai</td>
                                <td>0 </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tile">
                    <h2>@Rental_WebCore2.Resources.RentalTexts.danhsachphieuthu</h2>
                    <table class="table table-bordered">
                        <tr style="background-color:lavender">
                            <th>
                                @Rental_WebCore2.Resources.RentalTexts.ngaychungtu
                            </th>
                            <th>
                                @Rental_WebCore2.Resources.RentalTexts.machungtu
                            </th>
                            <th>
                                @Rental_WebCore2.Resources.RentalTexts.loaichungtu
                            </th>
                            <th>
                                @Rental_WebCore2.Resources.RentalTexts.sotien
                            </th>
                            <th>
                                @Rental_WebCore2.Resources.RentalTexts.print
                            </th>
                        </tr>
                        <tr>
                            <th>
                                21/01/2019 01:42
                            </th>
                            <th>
                                BN005823
                            </th>
                            <th>
                                Thu tiền đặt cọc
                            </th>
                            <th>
                                5.000.000
                            </th>
                            <th>
                                <i class="glyphicon glyphicon-hand-up"></i>
                            </th>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
</main>


