@{
    ViewData["Title"] = "DetailContract";
}
<head>
    <link href="~/wwwroot/CSS_Rental/css/main.css" rel="stylesheet" />


</head>

<body>
    <main class="app-content">
        <div class="tile">
            <div class="page-header">
                <div class="alert alert-warning" style="background-color:#009688;height:45px">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 style="margin-top:0px; text-align:left;color:aliceblue">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_Infor_2</h5>
                        </div>
                        <div class="col-lg-6" align="right">
                            <a class="btn-outline-primary" href="@Url.Action("ContractIndex","RentalManager")">
                                <span aria-hidden="true">
                                    <img src="~/wwwroot/images/Rental/Contract/icons8-multiply-30.png" style="width:25px;margin-top:-3px;" />
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                @* Duong dan tab  *@
                <div class="row" style="margin-bottom:2rem;">
                    <div class="col-lg-12">
                        <div class="bs-component" style="margin-top:-10px">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#DC_detail"><i class="icon fa fa-info"></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Detail_Contract</a></li>
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#DC_customer"><i><img src="~/wwwroot/images/Rental/Contract/icons8-user-30.png" style="margin-top:-6px;width:20px" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Tenant</a></li>
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#DC_history"><i><img src="~/wwwroot/images/Rental/Contract/icons8-time-machine-30.png" style="width:20px;margin-top:-6px" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Invoice_History</a></li>
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#DC_asset"><i class="icon fa fa-diamond"></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Asset_Handover</a></li>
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#DC_expediency"><i><img src="~/wwwroot/images/Rental/Contract/icons8-dirt-bike-30.png" style="margin-top:-6px" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Transport</a></li>
                            </ul>
                            @* Chi tiet *@
                            <div class="tab-content " id="myTabContent">
                                <div class="tab-pane fade active show" id="DC_detail">
                                    <div class="tile">

                                        <div class="row">
                                            @* VT *@
                                            @* Thong tin hop dong *@
                                            <div class="col-md-5">
                                                <div class="tile">
                                                    <h5 style="margin-top:-15px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_Infor_1</h5>
                                                    <hr style="margin-top:-5px" />
                                                    <div class="tile-body">
                                                        <form class="form-horizontal">
                                                            <div class="tile" style="border:1px solid;border-color:darkgray;">
                                                                <table class="table table-bordered" border="1" style="border-color:black;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_ID</th>
                                                                            <th><input class="text-body col-md-10 " type="text" value="" disabled=""></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Status</th>
                                                                            <th><label class="label label-primary"style="background-color:#82AF6F"><i>Đang hợp đồng</i></label></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Liquidation_Date</th>
                                                                            <th><input class="text-body col-md-10 " type="ba" value="H3" disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Contract_Creation_Date</th>
                                                                            <th><input class="text-body col-md-10 " type="text" value="H3" disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Effective_Date</th>
                                                                            <th> <input class="text-body col-md-10 " type="text" value="3/2019 " disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.To_Date</th>
                                                                            <th> <input class="text-body col-md-10 " type="text" value="3/2019 " disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Property</th>
                                                                            <th> <input class="text-body col-md-10 " type="text" value="3/2019 " disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Price</th>
                                                                            <th> <input class="text-body col-md-10 " type="text" value="3/2019 " disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Deposit</th>
                                                                            <th> <input class="text-body col-md-10 " type="text" value="3/2019 " disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Tenant</th>
                                                                            <th><input class="text-body col-md-10 " type="text" value="H3" disabled=""></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</th>
                                                                            <th><input class="text-body col-md-10 " type="text" value="H3" disabled=""></th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                                <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>

                                                                <div style="margin-top:0px">
                                                                    <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            @*VP *@
                                            @* Dich vu *@

                                            <div class="col-md-7">
                                                <div class="tile">
                                                    <h5 style="margin-top:-15px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Service</h5>
                                                    <a class="btn btn-outline-primary" style="border:1px solid;border-color:black; margin-top:0px" onclick="SettingPriceSerice(0)"><i class="fa fa-plus"></i>@Rental_WebCore2.Resources.Rental_Manager.Rental.Setting_Price_Service</a>

                                                    <hr style="margin-top:8px" />
                                                    <div style="  height:437px; border:1px solid black; margin-top:-8px; overflow:auto;border-color:darkgray">
                                                        <table class="table table-bordered" style="margin-left:0px">
                                                            <thead>
                                                                <tr class="col-12">
                                                                    <th style="background-color:lavender"><input class="checkbox" type="checkbox" disabled="disabled" /></th>
                                                                    <th class="col-3" style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Type_Of_Service</th>
                                                                    <th class="col-2" style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                                                    <th class="col-3"style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit_Price</th>
                                                                    <th class="col-3"style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><input class="checkbox" type="checkbox" checked="checked" /></td>
                                                                    <td>
                                                                        <input class="text-body  " style="width:150px" disabled="" type="text" value="Internet  ">
                                                                    </td>
                                                                    <td><input class="text-center" type="text" style="width:50px;margin-left:5px" value="1" disabled="" /></td>
                                                                    <td><input class="text-dark " style="width:80px" type="text" value="200.000" disabled="" /></td>
                                                                    <td>
                                                                        <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><input class="checkbox" type="checkbox" checked="checked" /></td>
                                                                    <td>
                                                                        <input class="text-body " style="width:150px" disabled="" type="text" value="Cáp  ">
                                                                    </td>
                                                                    <td><input class="text-center " type="text" style="width:50px;margin-left:5px" value="1" disabled="" /></td>
                                                                    <td><input class="text-dark " style="width:80px" type="text" value="150.000" disabled="" /></td>
                                                                    <td>
                                                                        <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><input class="checkbox" type="checkbox" checked="checked" /></td>
                                                                    <td>
                                                                        <input class="text-body  " style="width:150px" disabled="" type="text" value="Đổ rác  ">
                                                                    </td>
                                                                    <td><input class="text-center " style="width:50px;margin-left:5px" type="text" value="1" disabled="" /></td>
                                                                    <td><input class="text-dark " style="width:80px" type="text" value="30.000" disabled="" /></td>
                                                                    <td>
                                                                        <input class="text-body  " style="width:80px" disabled="" type="text" value="Đồng/Tháng">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <hr style="margin-top:-10px" />
                                        <div class="row">
                                           
                                            <a class="btn btn-primary" href="@Url.Action("CreateContract","RentalManager")" style="background-color: #007065;color:white;margin-left:20px;"><i><img src="~/wwwroot/images/Rental/Contract/icons8-edit-file-filled-50.png" style="width:20px; margin-top:-6px;" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Edit</a>
                                            <a class="btn btn" style="background-color: red;color:white;margin-left:20px;border-color:orangered"><i><img src="~/wwwroot/images/Rental/Contract/icons8-print-filled-50.png" style="width:20px; margin-top:-6px" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Print_Contract</a>
                                            <a class="btn btn" onclick="Liquidation_Contract(0)" style="background-color: red;color:white;margin-left:20px;border-color:orangered"><i><img src="~/wwwroot/images/Rental/Contract/icons8-planner-64.png" style="width:20px; margin-top:-6px" /></i> @Rental_WebCore2.Resources.Rental_Manager.Rental.Liquidation_Of_Contracts</a>
                                            
                                            <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:20px;" href="@Url.Action("ContractIndex","RentalManager")"><i><img src="~/wwwroot/images/Rental/Contract/icons8-exit.png" style="width:20px; margin-top:-6px" /></i>@Rental_WebCore2.Resources.Rental_Manager.Rental.Exit</a>                                                
                                        </div>
                                    </div>
                                </div>
                                @* Khach thue *@
                                <div class="tab-pane fade " id="DC_customer">
                                    <div class="tile">
                                        <a class="btn btn-outline-primary" style="border:1px solid;border-color:black;margin-top:-5px" onclick="AddMoreTenants(0)"><i class="fa fa-plus"></i>@Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Tenants</a>
                                        <p></p>
                                        <div class="tile" style="height:auto;width:100%;border:solid 1px;border-color:darkgray;">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <h6 style="margin-top:-10px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Tenant</h6>
                                                </div>
                                                <div class="col-lg-2"align="right"style="margin-top:-10px">
                                                    <div class="widget-toolbar " >
                                                        <button data-toggle="dropdown" class="btn btn-info btn-primary dropdown-toggle " aria-expanded="true" style="padding:0px 3px;">@Rental_WebCore2.Resources.Rental_Manager.Rental.Edit</button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="Editinfo(0)"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Edit_Informatin</a></li>
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Delete_Information</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <p></p>
                                            <hr style="margin-top:-8px" />

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div id="square" style="background-color:aliceblue;margin-left: 0px; width: 50%;height: 150px;text-align:center;border:solid 1px;border-color:black;">+ @Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Photos</div><p></p>
                                                    <input type="file" />
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="tile-body">
                                                        <form class="form-horizontal">
                                                            <table class="table table-bordered" border="1" style="border-color:black;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Name</th>
                                                                        <th><input class="text-body col-md-10 " type="text" value="BBBB" disabled=""></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</th>
                                                                        <th><input class="text-body col-md-10 " type="text" value="541515151" disabled=""></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Identity_Card</th>
                                                                        <th> <input class="text-body col-md-10 " type="text" value="0125556688" disabled=""></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Email</th>
                                                                        <th> <input class="text-body col-md-10 " type="text" value="awdawd@gmail.com" disabled=""></th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>
                                                            <div style="margin-top:0px">
                                                                <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                        @* Khach cung thue *@
                                        <div class="tile" style="height:auto;width:100%;border:solid 1px;border-color:darkgray">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <h6 style="margin-top:-10px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Shared_Tenants</h6>
                                                </div>
                                                <div class="col-lg-2"align="right">
                                                    <div class="widget-toolbar " style="margin-top:-10px">
                                                        <button data-toggle="dropdown" class="btn btn-info btn-primary dropdown-toggle" aria-expanded="true" style="padding:0px 3px;">@Rental_WebCore2.Resources.Rental_Manager.Rental.Edit</button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="Editinfo(0)"> @Rental_WebCore2.Resources.Rental_Manager.Rental.Edit_Informatin</a></li>
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href=" "> @Rental_WebCore2.Resources.Rental_Manager.Rental.Delete_Information</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <p></p>
                                            <hr style="margin-top:-8px" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div id="square" style="background-color:aliceblue;margin-left: 0px; width: 50%;height: 150px;text-align:center;border:solid 1px;border-color:black;">+ @Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Photos</div><p></p>
                                                    <input type="file" />
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="tile-body">
                                                        <form class="form-horizontal">
                                                            <table class="table table-bordered" border="1" style="border-color:black;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Name</th>
                                                                        <th><input class="text-body col-md-10 " type="text" value="BBBB" disabled=""></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</th>
                                                                        <th><input class="text-body col-md-10 " type="text" value="541515151" disabled=""></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Identity_Card</th>
                                                                        <th> <input class="text-body col-md-10 " type="text" value="0125556688" disabled=""></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Email</th>
                                                                        <th> <input class="text-body col-md-10 " type="text" value="awdawd@gmail.com" disabled=""></th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>
                                                            <div style="margin-top:0px">
                                                                <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                @* Dropdown *@

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* lich su hoa don *@
                                <div class="tab-pane fade  " id="DC_history">
                                    <div class="tile">
                                        <div class="tile" style="width:100%;border:solid 1px;border-color:darkgray">
                                            <table class="table table-bordered" style="width:100% ;text-align:center">
                                                <thead>
                                                    <tr>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.ID_Number</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Day_Month_Year</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Amount_Money</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Detail</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>18/11/2019</td>
                                                        <td>10.000.000</td>
                                                        <td id="1"><a href="#" onclick="ViewHistory(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-show-property-48.png" style="width:35px;height:35px" /></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>18/12/2019</td>
                                                        <td>10.000.000</td>
                                                        <td id="1"><a href="#" onclick="ViewHistory(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-show-property-48.png" style="width:35px;height:35px" /></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>18/1/2019</td>
                                                        <td>10.000.000</td>
                                                        <td id="1"><a href="#" onclick="ViewHistory(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-show-property-48.png" style="width:35px;height:35px" /></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                @* Tai san ban giao *@
                                <div class="tab-pane fade " id="DC_asset">
                                    <div class="tile">
                                        <div class="tile" style="width:100%;border:solid 1px;border-color:darkgray">
                                            <table class="table table-bordered" style="width:100% ;text-align:center">
                                                <thead>
                                                    <tr>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.ID_Number</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Asset_Type</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Asset_Name</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Date_Of_Delivery</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Status</th>
                                                        <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Picture</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tủ lạnh</td>
                                                        <td>Panasonic</td>
                                                        <td>1</td>
                                                        <td>18/11/2019</td>
                                                        <td>Tốt</td>
                                                        <td id="1"><a onclick="myView"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Tivi</td>
                                                        <td>Sony</td>
                                                        <td>4</td>
                                                        <td>18/11/2019</td>
                                                        <td>Tốt</td>
                                                        <td id="1"><a onclick="myView"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Bàn</td>
                                                        <td>10.000.000</td>
                                                        <td>5</td>
                                                        <td>18/11/2019</td>
                                                        <td>Tốt</td>
                                                        <td id="1"><a onclick="myView"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                @* Phuong tiện *@
                                <div class="tab-pane fade  " id="DC_expediency">
                                    <div class="tile" style="height:auto">
                                        <a class="btn btn-outline-primary" style="border:1px solid;border-color:black;margin-top:-15px " onclick="AddExpediency(0)"><i class="fa fa-plus"></i>@Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Transport</a>
                                        <p></p>
                                        <hr style="margin-top:-7px" />
                                        <div class="tile" style="width:70%;border:solid 1px;border-color:darkgray">
                                            <div class="tile-body">
                                                <form class="form-horizontal">
                                                    <table class="table table-bordered" border="1" style="border-color:black;">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Car_Name</th>
                                                                <th><input class="text-body col-md-10 " type="text" value="BWM" disabled=""></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.License_Plate</th>
                                                                <th><input class="text-body col-md-10 " type="text" value="ds5d4515" disabled=""></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Car_Type</th>
                                                                <th>
                                                                    <select class="form-control col-md-10" id="exampleSelect1" disabled="">
                                                                        <option>Xe số</option>
                                                                        <option>Xe tay ga</option>
                                                                        <option>Xe 3 bánh</option>
                                                                        <option>Xe 4 bánh</option>
                                                                    </select>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Vehicle_Owner</th>
                                                                <th> <input class="text-body col-md-10 " type="text" value="Nguyễn SS" disabled=""></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </form>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>


@* Setting bảng giá dịch vụ *@

<div class="modal fade" id="myModalSettingPriceService">
    <div class="modal-dialog">
        <div class="modal-content" style="height:610px;width:1000px;margin-left:-250px">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleSettingPriceService;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Setting_Price_Service
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">

                    <table class="table table-bordered" style="width:300px">
                        <thead>
                            <tr>
                                <th style="width:20px;background-color:lavender"><input class="checkbox" type="checkbox" disabled="disabled" /></th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Type_Of_Service</th>
                                <th style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                <th style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit_Price</th>
                                <th style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="checkbox" type="checkbox" /></td>
                                <td>
                                    <input class="text-body" style="width:300px" type="text" value="Internet  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td><input class="text-dark " style="width:150px" type="text" value="" /></td>
                                <td>
                                    <input class="text-body  " disabled="" type="text" value="Đồng/Tháng">
                                </td>
                            </tr>
                            <tr>
                                <td><input class="checkbox" type="checkbox" /></td>
                                <td>
                                    <input class="text-body " style="width:300px" type="text" value="Cáp  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td><input class="text-dark " style="width:150px" type="text" value="" /></td>
                                <td>
                                    <input class="text-body  " disabled="" type="text" value="Đồng/Tháng">
                                </td>
                            </tr>
                            <tr>
                                <td><input class="checkbox" type="checkbox" /></td>
                                <td>
                                    <input class="text-body" style="width:300px" type="text" value="Đổ rác  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td><input class="text-dark " style="width:150px" type="text" value="" /></td>
                                <td>
                                    <input class="text-body  " disabled="" type="text" value="Đồng/Tháng">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>
                <div>
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:15px" onclick="AddService(0)">+ @Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Service</a>
                    <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:15px" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>

@* THêm dịch vụ *@
<div class="modal fade" id="myModalService">
    <div class="modal-dialog">
        <div class="modal-content" style="height:560px;width:963px;margin-left:-267px;margin-top:68px">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleService;">
                Thêm dịch vụ
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">

                    <table class="table table-bordered" style="width:300px">
                        <thead>
                            <tr>
                                <th style="text-align:center;background-color:lavender" ">STT</th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Type_Of_Service</th>
                                <th style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                <th style="text-align:center;background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center">1</td>
                                <td>
                                    <input class="text-body" style="width:450px" type="text" value="Dọn vê sinh nhà cửa  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td>
                                    <input class="text-body" disabled="" type="text" value="Đồng/Lần">
                                </td>
                                <td><a class="btn btn-primary " style="width:28px;height:28px;background-color: #007065;color:white" onclick="EnterPriceService(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-add-new-30.png" style="width:36px;height:36px;margin-left:-18px;margin-top:-12px" /></a></td>
                            </tr>
                            <tr>
                                <td style="text-align:center">2</td>
                                <td>
                                    <input class="text-body " style="width:450px" type="text" value="Nước  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td>
                                    <input class="text-body  " disabled="" type="text" value="Đồng/Khối">
                                </td>
                                <td><a class="btn btn-primary " style="width:28px;height:28px;background-color: #007065;color:white" onclick="EnterPriceService(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-add-new-30.png" style="width:36px;height:36px;margin-left:-18px;margin-top:-12px" /></a></td>
                            </tr>
                            <tr>
                                <td style="text-align:center">3</td>
                                <td>
                                    <input class="text-body  " style="width:450px" type="text" value="Điện  ">
                                </td>
                                <td><input class="text-center" style="width:60px" type="text" value="1" /></td>
                                <td>
                                    <input class="text-body  " disabled="" type="text" value="Đồng/Khối">
                                </td>
                                <td><a class="btn btn-primary " style="width:28px;height:28px;background-color: #007065;color:white" onclick="EnterPriceService(0)"><img src="~/wwwroot/images/Rental/Contract/icons8-add-new-30.png" style="width:36px;height:36px;margin-left:-18px;margin-top:-12px" /></a></td>
                            </tr>
                        </tbody>
                    </table>

                </form>
                <div>
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:15px" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>

@* Nhập giá dịch vụ *@
<div class="modal fade" id="myModalPriceService">
    <div class="modal-dialog">
        <div class="modal-content" style="height:510px;width:926px;margin-left:-268px;margin-top:108px">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalPriceService;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Enter_Unit_Prive_And_Quantity_Service
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Type_Of_Service</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" disabled="">

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập số lượng">

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit_Price</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập đơn giá">

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" disabled="">
                    </div>

                </form>
                <div>
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:15px" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>
@* Thanh lý hóa đơn *@
<div class="modal fade" id="myModalLiquidate_Contract">
    <div class="modal-dialog">
        <div class="modal-content" style="width:1300px;height:601px;margin-left:-400px">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleLiquidate_Contract;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Liquidation_Of_Contracts
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>
            <p></p>
            <div class="tile-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-4" style="padding-left:40px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Name</label>
                        <div class="col-md-8">
                            <input class="text-body col-md-8 " type="text" value=" ">
                        </div>

                        <label class="control-label col-md-4" style="padding-left:40px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</label>
                        <div class="col-md-8">
                            <input class="text-body col-md-8 " type="text" value=" ">
                        </div>

                        <label class="control-label col-md-4" style="padding-left:40px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Identity_Card</label>
                        <div class="col-md-8">
                            <input class="text-body col-md-8 " type="text" value=" ">
                        </div>

                        <label class="control-label col-md-4" style="padding-left:40px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Email</label>
                        <div class="col-md-8">
                            <input class="text-body col-md-8 " type="text" value=" ">
                        </div>

                        <label class="control-label col-md-3" style="padding-left:40px">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>
                        <div class="col-md-9">
                            <textarea class="text-body" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note style="width:290px"></textarea>
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <button class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* Xem lich su *@

<div class="modal fade" id="myModalHistory">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleHistory;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Invoice_Infor
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.ID_Number</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" value="1">

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Date_Of_Payment</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" value="29/12/2019">
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Name_Of_Cost</th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Quantity</th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit_Price</th>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiền phòng</td>
                                <td>1</td>
                                <td>8.000.000</td>
                                <td>Đồng/tháng</td>
                            </tr>
                            <tr>
                                <td>Tiền điện</td>
                                <td>300(kj)</td>
                                <td>320.000</td>
                                <td>Đồng</td>
                            </tr>
                            <tr>
                                <td>Tiền nước</td>
                                <td>200(kj)</td>
                                <td>100.000</td>
                                <td>Đồng</td>
                            </tr>
                            <tr>
                                <td>Tiền mạng</td>
                                <td>1</td>
                                <td>200.000</td>
                                <td>Đồng/tháng</td>
                            </tr>
                            <tr>
                                <td>Tiền đổ rác</td>
                                <td>1</td>
                                <td>40.000</td>
                                <td>Đồng/tháng</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group row">
                        <label class="control-label col-md-5" style="text-align:right">@Rental_WebCore2.Resources.Rental_Manager.Rental.Total_Money: </label>
                        <div class="col-md-6">
                            <input class="text-body col-md-6 " type="text" value="dsdwdwd " style="margin-left:25px">
                            <label class="control-label col-md-4" style="text-align:right">Đồng/tháng</label>
                        </div>

                    </div>


                </form>
                <div class="modal-footer">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <button class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* Add nguoi cung thue *@
<div class="modal fade" id="myModalMoreTenants">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleMoreTenants;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Tenants
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>
            <p></p>
            <div class="tile-body col-12">
                <form class="form-horizontal">
                    <table class="table table-bordered" border="1" style="border-color:black;">
                        <thead>
                            <tr>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Customer_Name</th>
                                <th><input class="text-body col-md-10 " type="text" value=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Phone_Number</th>
                                <th><input class="text-body col-md-10 " type="text" value=""></th>
                            </tr>
                            <tr>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Identity_Card</th>
                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                            </tr>
                            <tr>
                                <th style="background-color:lavender">@Rental_WebCore2.Resources.Rental_Manager.Rental.Email</th>
                                <th> <input class="text-body col-md-10 " type="text" value=""></th>
                            </tr>
                        </tbody>
                    </table>
                    <label class="control-label col-md-3">@Rental_WebCore2.Resources.Rental_Manager.Rental.Note</label>
                    <div style="margin-top:0px">
                        <textarea class="text-body col-12" rows="4" placeholder=@Rental_WebCore2.Resources.Rental_Manager.Rental.Note></textarea>
                    </div>
                </form>

                <div class="modal-footer">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <button class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Add phuong tien *@
<div class="modal fade" id="myModalExpedincy">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:40px;color:aliceblue;border:hidden; text-align:center;font-size:20px; padding-left:0px;border-radius:unset" id="modalTitleExpedincy;">
                @Rental_WebCore2.Resources.Rental_Manager.Rental.Add_Transport
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>

            <div class="modal-body">
                <form id="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Car_Name</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập tên xe">

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.License_Plate</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập biển số xe">

                        <label for="exampleSelect1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Car_Type</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>Xe số</option>
                            <option>Xe tay ga</option>
                            <option>Xe 3 bánh</option>
                            <option>Xe 4 bánh</option>
                        </select>

                        <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Vehicle_Owner</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập chủ phương tiện">


                    </div>

                    @*<div class="form-group">
                            <label for="exampleInputEmail1">@Rental_WebCore2.Resources.Rental_Manager.Rental.Car_Service_Fee</label>
                            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập phí dịch vụ xe">
                        </div>*@


                </form>
                <div class="modal-footer">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">@Rental_WebCore2.Resources.Rental_Manager.Rental.Save</a>
                    <button class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">@Rental_WebCore2.Resources.Rental_Manager.Rental.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*  *@
<script>
    function SettingPriceSerice(SettingPriceService) {
        $("#form")[0].reset();
        $("#modalTitleSettingPriceService").html("Cài đặt bảng giá dịch vụ");
        $("#myModalSettingPriceService").modal();
    }
    function AddService(addservice) {
        $("#form")[0].reset();
        $("#modalService").html("Thêm dịch vụ");
        $("#myModalService").modal();
    }
    function EnterPriceService(EnterPriceService) {
        $("#form")[0].reset();
        $("#modalPriceService").html("Nhâp đơn giá dịch vụ");
        $("#myModalPriceService").modal();
    }

    function Liquidation_Contract(viewhistory) {
        $("#form")[0].reset();
        $("#modalTitleLiquidate_Contract").html("Thanh lý hợp đồng");
        $("#myModalLiquidate_Contract").modal();
    }
    function AddMoreTenants(addpeople) {
        $("#form")[0].reset();
        $("#modalTitleMoreTenants").html("Thêm người cùng thuê");
        $("#myModalMoreTenants").modal();
    }
    Editinfo
    function Editinfo(editpeople) {
        $("#form")[0].reset();
        $("#modalTitleMoreTenants").html("Chỉnh sửa thông tin");
        $("#myModalMoreTenants").modal();
    }

    function AddExpediency(addExpedincy) {
        $("#form")[0].reset();
        $("#modalTitleExpedincy").html("Thêm phương tiện");
        $("#myModalExpedincy").modal();
    }
    function ViewHistory(viewhistory) {
        $("#form")[0].reset();
        $("#modalTitleHistory").html("Xem lịch sử hóa đơn");
        $("#myModalHistory").modal();
    }

</script>
