
@{
    ViewData["Title"] = "Maintenance";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>
    <main class="app-content">

        <div id="page_header" class="widget-box  ">
            <div class="widget-header" style="border-radius:4px">
                <h3 class="widget-title">
                    <i class="ace-icon fa fa-star orange"></i>
                    @Rental_WebCore2.Resources.RentalTexts.DSBTSC
                </h3>
            </div>
            <div class="tile">
                <div class="widget-main">
                    <form action="/Maintenance/Index" class="search-view form-inline" id="Maintenance" method="get">
                        <br />
                        <div style="margin-top:1px;">
                            <select id="Status" class="form-control" name="Status" style="height: 35px;width:150px">
                                <option value="">@Rental_WebCore2.Resources.RentalTexts.Trang_Thai</option>
                                <option value="pending">Chờ thực hiện</option>
                                <option value="inprogress">Đang thực hiện</option>
                                <option value="complete">Đã hoàn thành</option>
                            </select>
                            <button class="btn btn-mini btn-primary" name="" onclick="return true;" type="submit" value="Search" style="background-color:#009688">
                                <span>@Rental_WebCore2.Resources.RentalTexts.Search</span>
                                <i class="ace-icon fa fa-search"></i>
                            </button>
                            <a class="btn btn-primary icon-btn" style="background-color:#007d71;margin-left:800px;color:white" onclick="AddMaintenance(0)"><i class="fa fa-plus"></i>@Rental_WebCore2.Resources.RentalTexts.them</a>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
        <div class="tile">
            <table class="table" style="margin-top:15px">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.taisan</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.noidung</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.nguoisuachua</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.chiphi</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.ngaycapnhat</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.Trang_Thai</th>
                        <th>@Rental_WebCore2.Resources.RentalTexts.Hanh_Dong</th>
                    </tr>
                <thead>
                <tbody>
                <tbody>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td><a asp-controller="Maintenance" asp-action="DetailMaintenance">abc</a></td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td style="height:25px"><span class="badge badge-danger">Chưa Thực Hiện</span></td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditMaintenance(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td><span class="badge badge-warning" style="color:white">Đang Thực Hiện</span></td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditMaintenance(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td><span class="badge badge-success" >Đã Hoàn Thànhs</span></td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditMaintenance(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                   
                </tbody>
            </table>
            <div>
                <nav>
                    <ul class="pagination" style="margin-left:40%" >
                        <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </nav>
            </div>
        </div>
       
    </main>
</body>


<!--Add new Maintenance 1 -->
<div class="modal fade" id="Mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:50px;color:aliceblue;border:hidden; text-align:center;font-size:25px; padding-left:0px;border-radius:unset" id="modalTitle ;">
                Thêm mới
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label for="exampleSelect1">Bất Động Sản</label>
                        <select data-val="true" class="form-control" id="Type" name="Type" aria-required="true" aria-describedby="Type-error" aria-invalid="false">
                            <option value="SCPS">Sự cố phát sinh</option>
                            <option value="KHDK">Kế hoạch định kỳ</option>
                        </select>
                    </div>
                    <div class="KHDK">
                        <div class="form-group">
                            <label for="exampleSelect1">Tài Sản</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>Hằng ngày</option>
                                <option>Thấp</option>
                                <option>Trung bình</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">Trạng Thái</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>Trước 1 giờ</option>
                                <option>Thấp</option>
                                <option>Trung bình</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Người Sữa Chữa</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập tên">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Chi Phí Sữa Chữa</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập tên">
                    </div>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Ngày Sữa Chữa</label>
                    <input class="form-control" type="date" >
            </div>

            <div class="form-group">
                <label for="exampleTextarea">Nội Dung Sữa Chữa</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Nhập ghi chú"></textarea>
            </div>


            </form>
            <div class="modal-footer">
                <a class="btn btn-primary" style="background-color: #007065;color:white">Lưu</a>
                <button class="btn btn-secondary" style="color:white" data-dismiss="modal">Hủy</button>
            </div>
        </div>
        </div>
    </div>
</div>



<!--Edit Maintenance -->

<div class="modal fade" id="Mymodal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:50px;color:aliceblue;border:hidden; text-align:center;font-size:25px; padding-left:0px;border-radius:unset" id="modalTitle1 ;">
                Thêm mới
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label for="exampleSelect1">Loại</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>Sự cố phát sinh</option>
                            <option>Kế hoạch định kỳ</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập tên">
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea">Ghi chú</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Nhập ghi chú"></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-primary" style="background-color: #007065;color:white">Lưu</a>
                    <a class="btn btn-secondary" style="color:white" data-dismiss="modal">Hủy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddMaintenance(StudentId) {
        $("#form")[0].reset();
        $("#modalTitle").html("Thêm mới");
        $("#Mymodal").modal();
    }
    function EditMaintenance(EditId) {
        $("#form1")[0].reset();
        $("#modalTitle1").html("Chỉnh sửa bảo trì");
        $("#Mymodal1").modal();
    }

</script>
<script>
    var closePopup = '';
    $(document).ready(function () {
        //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
        if (closePopup != '') {
            var option = '<option value="0" ></option>';
            //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
            window.parent.ClosePopupAndAppendSelect(option);
        }
        $("#Type").change(function () {
            var $this = $(this);
            if ($this.val() == "KHDK") {
                $(".KHDK").show();
            }
            else {
                $(".KHDK").hide();
            }
        });
    });
</script>
